
<!DOCTYPE html>
<html>

    
    <div class="col-sm-6 col-md-4 info-wrapper">
        <div class="info-main">
            <a href= /createMeal/{{_id}}>
            <div class="thumbnail" style="background-image:url({{img}});"></div>
            <div id="name">{{mealName}}</div>
            </a>
            <div class="price">${{price}} / per person</div>
            <div class="dorm">{{location}}
                <span class="day">| {{mealDay}} </span>
                <span class="time">| {{mealTime}}</span>
            </div>
            <hr>
            <div class=".col-xs-12 .col-md-8 overflow ellipsis">{{description}}</div>
        </div>
    </div>


</html>
