<div class="info-wrapper">
    <img class="thumbnail" src={{img}}>
    <h2>{{mealName}}</h2>
    <div class=".col-xs-12 .col-md-8">{{mealDay}}</div>
    <div class=".col-xs-12 .col-md-8">{{mealType}}</div>
    <div class=".col-xs-12 .col-md-8">{{mealStyle}}</div>
    <div class=".col-xs-12 .col-md-8">{{location}}</div>
</div>
